.analysis {
    display: grid;
    gap: 1em;
    max-width: 100%;
    margin: 0 auto;
}

.analysis h1 {
    grid-column: span 3;
}

.analysis-box {
    position: relative;
    overflow: hidden;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.7);


    img {
        width: 100%;
        height: 100%;
        //z-index: -1;
    }

    h2 {
        font-family: sans-serif;
        font-size: 1.2em;
        color: rgb(183, 223, 221);
        width: 100%;
        padding: 0.5em;
        position: absolute;
        z-index: 10;
        padding-top: 1.3em;
        padding-bottom: 1.3em;
        transition: 0.5s ease;
    }

    a {
        text-decoration: none;
        color: rgb(0, 0, 0);
    }
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: $dark-color;
}

.analysis-box:hover .overlay {
    box-shadow: 5px 5px rgba(0, 0, 0, 0.7);
    opacity: 0.7;
}

.analysis-box:hover h2 {
    background-color: rgba($dark-color, 0);
}

.colors {
    grid-column: 1 / 2;
    grid-row: 2 / 2;

    h2 {
        background-color: rgba(156, 189, 188, 0.7);
        background-color: rgba($dark-color, 0.7);
        top: 0;
        left: 0;
    }
}

.load {
    grid-column: 2 / 3;
    grid-row: 2 / 2;

    h2 {
        background-color: rgba(156, 189, 188, 0.7);
        //background-image: linear-gradient(to right, rgba(239, 84, 57, 0.7), rgba(243, 109, 47, 0.7));
        background-color: rgba($dark-color, 0.7);
        top: 0;
        left: 0;
    }
}


.design {
    grid-column: 3 / 4;
    grid-row: 2 / 2;

    h2 {
        background-color: rgba(156, 189, 188, 0.7);
        //background-image: linear-gradient(to right, rgba(255, 51, 54, 0.7), rgba(235, 133, 63, 0.7));
        background-color: rgba($dark-color, 0.7);
        top: 0;
        left: 0;
    }
}

.kalkyl {
    width: 100%;
    height: 200px;
}
