/*
* Stylesheet for footer
*/

.footer {
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 3em;
    margin-top: 5em;
    border-top: 10px solid $accent-color;
    box-shadow: 0 -1px 10px 0 rgba(0, 0, 0, 0.7);
    background-color: $dark-color;

    a {
        color: $bright-color;
        text-decoration: none;
    }

    .social {
        font-size: 2rem;
        
    }

    i {
        //-webkit-transition: -webkit-transform 0.2s;
        transition: -webkit-transform 0.2s;
        transition: transform 0.2s;
        transition: transform 0.2s, -webkit-transform 0.2s;
    }

    i:hover {
        //-webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    div p {
        font-size: small;
        color: $bright-color;
    }

    .smalltext {
        font-size: 0.5em;
    }
}

@media (max-width: 767px) {
    .footer {
        display: block;

        .social {
            a {
                display: block;
            }
        }
    }
}
