/*
* Stylesheet for header
*/

.header,
.site-header {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    //align-items: baseline;
    //margin: 1em 0 0;
    //padding-top: 2em;
    padding: 2em;
}

.header {
    border-bottom: 10px solid $dark-color;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.7);
    background-color: $accent-color;
    background-image: url('../../../assets/img/handmade-paper.png');
    background-repeat: repeat;
    margin-bottom: 5em;


}

/* Title */

.title,
.logo {
    padding: 2em 2em 0 0;
}

@media (max-width: 767px) {
    .header {
        display: inline-block;
        width: 100%;
    }

    .site-header {
        display: inline-block;
    }

    .nav-toggle {
        float: none;
    }

    .title,
    .logo {
        padding: 1em 1em 1em 0;
    }

    .title {
        min-width: 50%;
    }

    .logo {
        max-width: 30%;
    }
}

.title {
    * {
        color: $font-alternative-color;
        margin-top: -0.3em;
        margin-bottom: 0.5em;
    }

    p {
        font-style: italic;
    }

    a {
        text-decoration: none;
    }
}

/* Nav */
.nav {
    // position: relative;
    margin-top: 3em;

    a {
        color: $font-alternative-color;
        text-decoration: none;
    }


    .navicon {
        font-size: 2em;
        vertical-align: top;
        // position: absolute;
        // top: 1%;
        // text-align: center;
        //left: 3%;
    }

    ul li {
        //-webkit-transition: -webkit-transform 0.2s;
        transition: -webkit-transform 0.2s;
        transition: transform 0.2s;
        transition: transform 0.2s, -webkit-transform 0.2s;
    }

    ul li:hover {
        //-webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

}
