$font-color: rgb(156, 189, 188);
$font-alternative-color: rgb(200, 200, 200);
$accent-color: #3b4747;
$background-color: #203d3c;
$background-alternative-color: rgb(46, 46, 46);
$dark-color: #182e2d;
$bright-color: #529c99;

$base-line-height: 1.4;
$base-font-size: 1rem;
$magic-number: $base-line-height * $base-font-size;
