$font-color: #333;
$font-alternative-color: #fff;
$accent-color: rgb(87, 110, 109);
$background-color: rgb(156, 189, 188);
$background-alternative-color: #e0fbfc;

$base-line-height: 1.4;
$base-font-size: 1rem;
$magic-number: $base-line-height * $base-font-size;
